*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


[class*="col-"]{
  min-height: 50px;
  /* debug  */
  border: 1px solid black;
  /* background-color: red; */

}

/* PARTE HEADER */

/* header menù */
header .container-fluid{
  background-color: #3A546D;
}

/* COLOR PORTFOLIO ABOUT CONTACT  E    START BOOTSTRAP*/
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
  color: white;
  font-size: 17px;
}



/* jumbotron */
.rule-jumbotron{
  background-color: #1ABC9C;
text-align: center;   /* tutto il contenitore è centrato */
  /* debug */
  min-height: 400px;
}

.rule-jumbotron img{
  height: 250px;
 display: block;
 margin: 0 auto 30px;
 margin-top: 90px;
}

.rule-jumbotron h1{
  color: white;
  font-weight: bold;
  font-size: 70px;
}

.line{
  display: inline-block;
  width: 10%;
  border: 2px solid white;
  border-radius: 8px;
  background-color: white;
  vertical-align: 10px;

}

.fas{
  color: white;
  font-size: 33px;
  margin: 30px 20px;
}

.rule-jumbotron h3{
  color: white;
  margin-bottom: 80px;
}
/* PARTE MAIN */

/* main parte 1 */
/* section1 */
.portofolio-title .row .col-xs-12{
  background-color: yellow;
}

/* immagini */
/* section2 */
.img-section2 .row .col-lg-4 {
  background-color: orange;
}

.width{
  width: 80%;
  margin: 0 auto;

}

.navbar-toggle{
  border-radius: 7px;
  background-color:#148F77;
  border: 0;
  width: 200px;
  height:
}

.navbar-toggle .icon-bar{
  width:15px;
}


/* main parte2 */
/* section1 */
.title-about .row .col-xs-12{
  background-color: #1ABC9C;
  /* debug */
  min-height: 70px;
}

/* section2 */
.text-about .row .col-xs-12{
  background-color:#1ABC9C;
  /* debug */
  min-height: 200px;
}

/* section3 */
.buttom-download .row .col-xs-12{
  background-color: #1ABC9C;
  /* debug */
  min-height: 70px;
}


/* main parte3 */
/* section1 */
.title-contact-me .row .col-xs-12{

}

/* section2 */
.dati-personali .row .col-xs-12{
  /* debug*/
  min-height: 400px;

}


/* PARTE FOOTER */

/* section1 */
.footer-section1 .row .col-xs-12{
  background-color: #3A546D;
  min-height: 100px;
}

/* section2 */
.footer-section2 .row .col-xs-12{
  background-color: #2C3E50;
}
